/*
* @Author: Administrator
* @Date:   2017-09-21 20:50:58
* @Last Modified by:   kai
* @Last Modified time: 2017-10-13 13:51:43
*/

.nav {
  background: #eee;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}


/* 用户部分 */

.nav .user {
  float: left;
}

.nav .user.login {
  display: none;
}

.nav .user .link {
  margin-right: 5px;
}


/* 导航链接部分 */

.nav .nav-list {
  float: right;
  margin: 0;
}

.nav .nav-list .nav-item {
  display: inline-block;
  margin-left: 5px;
}
