/*
* @Author: kai
* @Date:   2017-09-21 13:25:35
* @Last Modified by:   kai
* @Last Modified time: 2017-10-23 13:56:00
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}