/*
* @Author: kai
* @Date:   2017-10-24 14:17:35
* @Last Modified by:   kai
* @Last Modified time: 2017-10-24 14:26:11
*/
.user-con{
  .user-item-text {
    padding: 0 0 10px;
    font-size: 14px;
  }
  .step-con {
    display: none;
  }
}