/*
* @Author: kai
* @Date:   2017-09-21 11:20:26
* @Last Modified by:   kai
* @Last Modified time: 2017-09-21 13:20:42
*/

// 全局样式
// 定宽布局
.w {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

// 隐藏类
.hide {
  display: none;
}

// 超链样式
.link {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #e80012;
}

.link-text {
  color: #999;
  text-decoration: none;
}

// 按钮
.btn{
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: none;
  background: #c60023;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.btn-mini{
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0 10px;
}

// 加载图标
.loading{
  margin: 10px auto;
  display: block;
  width: 65px;
  height: 65px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: url(../../image/icon/loading.gif) no-repeat;
  opacity: .6;
}